<div class="cointainer">
    <div class="main1">
        <div class="d1">
            <b>Service</b>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde dolor neque distinctio aut possimus facilis explicabo magni exercitationem nobis ratione, animi reiciendis, molestiae dolorem maxime porro nemo! Adipisci, dolorum quod?</p>
           
        </div>

        <div class="d2" >
            <b>Service</b>
            <p>{{Service.domain}}</p>
            <p>{{Service.share}}</p>
            <p>{{Service.cloud}}</p>
            <p>{{Service.private}}</p>
        </div>

        <div class="d3">
            <b>Hosting</b>
            <p>{{Hosting.cheap}}</p>
            <p>{{Hosting.wordpress}}</p>
            <p>{{Hosting.email}}</p>
            <p>{{Hosting.unlimited}}</p>
        </div>

        <div class="d4">
            <b>Company</b>
            <p>{{Company.about}}</p>
            <p>{{Company.career}}</p>
            <p>{{Company.contact}}</p>
        </div>

        <div class="d5">
            <b>Help</b>
            <p>{{Help.faq}}</p>
            <p>{{Help.support}}</p>
        </div>
    </div>

    <div class="main2">

    </div>
</div>
