<div class="container">
    <div class="container1">
         <div class="main1">
              <a><b>True Cloud Web Hosting</b></a>
              <p>True Cloud Web Hosting All of the hosting packages we offer are deployed instantly on our SSD 
                powered cloud. We don't use dedicated servers that operate on single pieces of hardware. 
                Our entire infrastructure is built to be reliable, secure, and scalable.
              </p>
         </div>

         <div class="main2">
            <div class="main2-1">
                 <img src="../../assets/images/translated_image_en (1).png" alt="">
                 <img src="../../assets/images/translated_image_en (2).png" alt="">
                 <img src="../../assets/images/translated_image_en (3).png" alt="">
            </div>

            <div class="main2-2">
              <img src="../../assets/images/translated_image_en (4).png" alt="">
              <img src="../../assets/images/translated_image_en (5).png" alt="">
              <img src="../../assets/images/translated_image_en (6).png" alt="">
            </div>
         </div>
    </div>

    <div class="container2">

      <div class="main">
        <img src="../../assets/images/translated_image_en (8).png" alt="99.9% Uptime Icon" />
        <h3>99.9% Uptime</h3>
        <p>We Keep Your Web Build Online 24x7x365. Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.</p>
      </div>

      <div class="main">
        <img src="../../assets/images/translated_image_en (9).png" alt="99.9% Uptime Icon" />
        <h3>99.9% Uptime</h3>
        <p>We Keep Your Web Build Online 24x7x365. Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.</p>
      </div>

      <div class="main">
        <img src="../../assets/images/translated_image_en (10).png" alt="99.9% Uptime Icon" />
        <h3>99.9% Uptime</h3>
        <p>We Keep Your Web Build Online 24x7x365. Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.</p>
      </div>

      <div class="main">
        <img src="../../assets/images/translated_image_en (11).png" alt="99.9% Uptime Icon" />
        <h3>99.9% Uptime</h3>
        <p>We Keep Your Web Build Online 24x7x365. Downtime not only costs you lost visitors but also damages your reputation and search engine rankings.</p>
      </div>


    </div>
</div>
