<div class="main">
    <div class="main1">
          <div class="d1">
               <a style="color: red;">Hosting</a>
               <a>Domain</a>
               <a>SEO</a>
               <a>Email</a>
          </div>

          <div class="d2">
            <b>Premium Web</b>
            <b> Hosting or Your </b>
            <b>website</b>
          </div>

          <div class="d3">
              <a>Blazing fast web hosting for individuals and bussiness 
                of all sizes backed by 24x7x365 support.</a>
          </div>

          <div class="d4">
            <button class="btn1" (click)="account()">Create an Account</button>
            <button class="btn1" style="background-color: gray; box-shadow:0 2px 5px rgb(82, 70, 70);">Choose your plan</button>
          </div>
    </div>

    <div class="main2">
         <img src="../../assets/images/visualsoflukas-N7Bjz9vY67E-unsplash.jpg" alt=""/>
    </div>
</div>
